<gobmx-navbar></gobmx-navbar>
<div class="main-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1><strong>gob<span class="red">.</span>mx/consulta</strong></h1>
                <p class="text-sub">Una plataforma de participación ciudadana, que te permite a través de foros, encuestas y ejercicios de co-edición crear mejores propuestas de política pública en México.</p>
                <p class="text-sub-2"><strong>gob.mx/consulta</strong> cuenta con tres herramientas<br />de participación: <strong>Encuesta</strong> + <strong>Foro</strong> + <strong>Co-Edición</strong></p>
            </div>
        </div>
    </div>
</div>
<div class="contain-to-grid clear">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="toggle-topbar menu-icon"><a href="#"><span><%= t("application.menu")%></span></a></li>
        </ul>
        <section class="top-bar-section">
            <%= render "devise/menu/login_items" %>
            <%= render "shared/admin_login_items" %>
        </section>
    </nav>
</div>